
:root {
    --bg: ;
    --ui: ;
    --font: ;
    --accent: ;
    --hover: ;
    --size: 2px;
}

html, 
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-size: .93rem;
    font-family: 'Fira Sans';
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
}
